.idea/
__pycache__/
dungeons/json/*.json
dungeons/xlsx/*.xlsx
campaigns/*/*
config_cache.py
viewer/src/data/*.json
viewer/src/data/*.xlsx

# Sensitive information (e.g. password-enclosed connection URI's)
sensitive_info.py
viewer/src/sensitive_info.js

# dependencies
viewer/node_modules
viewer/.pnp
viewer/.pnp.js

# testing
viewer/coverage

# production
viewer/build

# misc
viewer/.DS_Store
viewer/.env.local
viewer/.env.development.local
viewer/.env.test.local
viewer/.env.production.local

viewer/npm-debug.log*
viewer/yarn-debug.log*
viewer/yarn-error.log*

# babel
viewer/.babelrc
